---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&b07a12df7d52e6c118e5d47d3f9e60135b109a1f&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=60c242ef02470013eb6dfa5e68ee1a5d97b82ff0&ip=109.235.143.113&locale=de&offer_types=112&page=2&ps_time=1312211903&pub0=campaign2&timestamp=1431317103&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"","offers":[{"title": "Test1", "thumbnail":{"lowres":"http://users.wfu.edu/matthews/misc/graphics/ResVsComp/25percent4x4.png"},"payout":2.34},{"title": "Test2", "thumbnail":{"lowres":"http://www.rickdoble.net/low_resolution/low_resolution_22.jpg"},"payout":1.86},{"title": "Test3", "thumbnail":{"lowres":"http://booksat.scarlettrugers.com/bookcoverdesign/wp-content/uploads/2012/03/catpixelated.jpg"},"payout":2.17}]}'
  recorded_at: Mon, 11 May 2015 04:05:04 GMT
recorded_with: VCR 2.9.3
