<table>
  <tr>
    <th>Title</th>
    <th>Thumbnail</th>
    <th>Payout</th>
  </tr>
  <% @result.each do |offer| %>
    <tr>
      <td><span><%= offer[:title] %></span></td>
      <td><img src="<%= offer[:thumbnail] %>"></td>
      <td><span><%= offer[:payout] %></span></td>
    </tr>
  <% end %>
</table>
